/*
 * =================================================================== 
 *
 *  The Underpin v1.0 Main Stylesheet
 *  url: www.theunderpin.com
 *  28-11-2016
 *  
 *  The Underpin v2.0 Main Stylesheet
 *  url: www.theunderpin.com
 *  28-01-2017
 *
 *  ------------------------------------------------------------------
 *  TOC:
 *  01. webfonts and iconfonts
 *  02. base style overrides
 *  03. typography & general theme styles
 *  04. preloader
 *  05. forms
 *  06. header styles
 *  07. off-canvas menu
 *  08. main-404-content
 *  09. hero
 *  09. section
 *  10. footer
 *
 * =================================================================== 
 */


/** 
 * ===================================================================
 * 01. webfonts and iconfonts - (_underpin-fonts.css)
 *
 * ------------------------------------------------------------------- 
 */

@import url("fonts.css");


/** 
 * ===================================================================
 * 02. base style overrides - (_underpin-css-base.scss)
 *
 * ------------------------------------------------------------------- 
 */

html {
	font-size: 10px;
}

@media only screen and (max-width:1024px) {
	html {
		font-size: 9.375px;
	}
}
@media only screen and (max-width:768px) {
	html {
		font-size: 10px;
	}
}
@media only screen and (max-width:400px) {
	html {
		font-size: 9.375px;
	}
}

html, body {
	height: 100%;
}
body {
	background: #041218;
	font-family: "roboto-regular", sans-serif;
	font-size: 1.6rem;
	line-height: 3rem;
	color: #ffffff;
}


/**
 * links - (_document-setup.scss)
 * ------------------------------------------------------------------- 
 */

a, a:visited {
	color: white;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
a:hover, a:focus {
	color: #041218;
}

/** 
 * ===================================================================
 * 03. typography & general theme styles - (_document-setup.scss)
 *
 * ------------------------------------------------------------------- 
 */

h1, h2, h3, h4, h5, h6, .h01, .h02, .h03, .h04, .h05, .h06 {
	font-family: "roboto-thin", sans-serif;
	color: #FFFFFF;
	font-style: normal;
	text-rendering: optimizeLegibility;
	margin-bottom: 2.1rem;
}
h3, .h03, h4, .h04 {
	margin-bottom: 1.8rem;
}
h5, .h05, h6, .h06 {
	font-family: "roboto-black";
	margin-bottom: 1.2rem;
}
h1, .h01 {
	font-size: 3.1rem;
	line-height: 1.35;
	letter-spacing: -.1rem;
}
@media only screen and (max-width:600px) {
	h1, .h01 {
		font-size: 2.6rem;
		letter-spacing: -.07rem;
	}
}
h2, .h02 {
	font-size: 2.4rem;
	line-height: 1.25;
}
h3, .h03 {
	font-size: 2rem;
	line-height: 1.5;
}
h4, .h04 {
	font-size: 1.7rem;
	line-height: 1.76;
}
h5, .h05 {
	font-size: 1.4rem;
	line-height: 1.7;
	text-transform: uppercase;
	letter-spacing: .15rem;
}
h6, .h06 {
	font-size: 1.3rem;
	line-height: 1.85;
	text-transform: uppercase;
	letter-spacing: .15rem;
}
p img {
	margin: 0;
}
p.lead {
	font-family: "roboto-light", serif;
	font-size: 1.8rem;
	line-height: 1.8;
	color: #6e6e6e;
}
@media only screen and (max-width:768px) {
	p.lead {
		font-size: 1.7rem;
	}
}
em, i, strong, b {
	font-size: 1.6rem;
	line-height: 3rem;
	font-style: normal;
	font-weight: normal;
}
em, i {
	font-family: "roboto-thin", serif;
}
strong, b {
	font-family: "roboto-bold", serif;
}
small {
	font-size: 1.1rem;
	line-height: inherit;
}
blockquote {
	margin: 3rem 0;
	padding-left: 4rem;
	position: relative;
}
blockquote:before {
	content: "\201C";
	font-size: 8rem;
	line-height: 0px;
	margin: 0;
	color: #333;
	font-family: arial, sans-serif;
	position: absolute;
	top: 3rem;
	left: 0;
}
blockquote p {
	font-family: georgia, serif;
	font-style: italic;
	padding: 0;
	font-size: 1.9rem;
	line-height: 1.75;
}
blockquote cite {
	display: block;
	font-size: 1.2rem;
	font-style: normal;
	line-height: 1.65;
}
blockquote cite:before {
	content: "\2014 \0020";
}
blockquote cite a, blockquote cite a:visited {
	color: #888888;
	border: none;
}
abbr {
	font-family: "roboto-bold", serif;
	font-variant: small-caps;
	text-transform: lowercase;
	letter-spacing: .05rem;
	color: #888888;
}
var, kbd, samp, code, pre {
	font-family: "roboto-black", serif;
}
pre {
	padding: 2.4rem 3rem 3rem;
	background: #F1F1F1;
}
code {
	font-size: 1.4rem;
	margin: 0 .2rem;
	padding: .3rem .6rem;
	white-space: nowrap;
	background: #F1F1F1;
	border: 1px solid #E1E1E1;
	border-radius: 3px;
}
pre > code {
	display: block;
	white-space: pre;
	line-height: 2;
	padding: 0;
	margin: 0;
}
pre.prettyprint > code {
	border: none;
}
del {
	text-decoration: line-through;
}
abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}
mark {
	background: #FFF49B;
	color: #000;
}
hr {
	border: solid #d2d2d2;
	border-width: 1px 0 0;
	clear: both;
	margin: 2.4rem 0 1.5rem;
	height: 0;
}

/**
 * Spacing - (_document-setup.scss)  
 * ------------------------------------------------------------------- 
 */

button, .button {
	margin-bottom: 1.2;
}
fieldset {
	margin-bottom: 1.5rem;
}
input,
textarea,
select,
pre,
blockquote,
figure,
table,
p,
ul,
ol,
dl,
form,
.fluid-video-wrapper,
.ss-custom-select {
	margin-bottom: 3rem;
}

/** 
 * ===================================================================
 * 06. header styles - (_layout.scss)
 *
 * ------------------------------------------------------------------- 
 */

header {
	width: 100%;
	height: auto;
	position: relative;
	left: 0;
	top: 0;
	z-index: 700;
	background: transparent;

	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;

	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;

	-moz-transition: transform 0.4s ease-in-out;
	-o-transition: transform 0.4s ease-in-out;
	-webkit-transition: transform 0.4s ease-in-out;
	-ms-transition: transform 0.4s ease-in-out;
	transition: transform 0.4s ease-in-out;
}
header .row {
	height: auto;
	position: relative;
}
header.menu-is-open {
	-webkit-transform: translateX(-260px);
	-ms-transform: translateX(-260px);
	transform: translateX(-260px);
}

/** 
 * header logo - (_layout.css) 
 * ------------------------------------------------------------------- 
 */

header .logo {
	position: absolute;
	left: 26px;
	top: 0;
	margin-top: 40px;
}

header .header__content .logo{
	left: 0;
	margin: 19px 0;
	position: relative;
}

header .logo a {
	display: block;
	margin: 0;
	padding: 0;
	outline: 0;
	border: none;
	width: 200px;
	height: 50px;
	background: url("../images/underpin-logo.svg") no-repeat center;
	background-size: 200px 50px;

	font: 0/0 a;
	text-shadow: none;
	color: transparent;

	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}



/**
 * responsive - header section
 * ------------------------------------------------------------------- 
 */

@media only screen and (max-width:1024px) {
	header .logo {
		left: 24px;
		margin-top: 40px;
	}
	
	header .header__content .logo{
		left: 0;
		margin: 40px 0;
		position: relative;
	}

	header .logo a {
		width: 247px;
		height: 63px;
		background-size: 247px 63px;
	}
}
@media only screen and (max-width:768px) {
	header .logo {
		left: 51px;
		margin-top: 48px;
	}
	
	header .header__content .logo{
		left: 0;
		margin: 19px 0;
		position: relative;
	}

	header .logo a {
		width: 235px;
		height: 60px;
		background-size: 235px 60px;
	}
}
@media only screen and (max-width:600px) {
	header .logo {
		left: 41px;
	}
	
	header .header__content .logo{
		left: 0;
		position: relative;
	}

	header .logo a {
		width: 212px;
		height: 54px;
		background-size: 212px 54px;
	}
}
@media only screen and (max-width:400px) {
	header .logo {
		left: 28px;
		margin-top: 19px;
	}
	
	header .header__content .logo{
		left: 0;
		margin: 19px 0;
		position: relative;
	}

	header .logo a {
		width: 165px;
		height: 42px;
		background-size: 165px 42px;
	}
}


/** 
 * ===================================================================
 * 08. main-404-content - (_layout.scss)
 *
 * ------------------------------------------------------------------- 
 */

#main-404-content {
	background: #151515;
	width: 100%;
	height: 100%;
	min-height: 720px;
	z-index: 600;
	position: relative;

	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;

	-moz-transition: transform 0.4s ease-in-out;
	-o-transition: transform 0.4s ease-in-out;
	-webkit-transition: transform 0.4s ease-in-out;
	-ms-transition: transform 0.4s ease-in-out;
	transition: transform 0.4s ease-in-out;
}
#main-404-content.menu-is-open {
	-webkit-transform: translateX(-260px);
	-ms-transform: translateX(-260px);
	transform: translateX(-260px);
}

/* static background */
#main-404-content.main-content-static {
	background-image: url(../images/theback.jpg);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

/* slideshow background */
#main-404-content.main-content-slides {
	height: 100% !important;
}

/* particle background */
#main-404-content.main-content-particle-js {
	background: #020507;
	overflow: hidden;
}
#main-404-content.main-content-particle-js .pg-canvas {
	position: absolute;
	top: 0;
	left: 0;
	height: 100% !important;
	width: 100% !important;
	opacity: .15;
}
#main-404-content.main-content-particle-js .shadow-overlay {
	display: none;
}


.content-wrap {
	width: 100%;
	height: 100%;
	display: table;
	position: relative;
}
.shadow-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .9;

	background: -moz-linear-gradient(left, black 0%, black 20%, transparent 100%);  /* FF3.6-15 */
	background: -webkit-linear-gradient(left, black 0%, black 20%, transparent 100%);  /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, black 0%, black 20%, transparent 100%);  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00000000', GradientType=1);  /* IE6-9 */
}
.main-content {
	display: table-cell;
	vertical-align: middle;
	position: relative;
	z-index: 700;  
}
.main-content h1 {
	font-family: "roboto-thin", sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	font-size: 4.4rem;
	line-height: 1.2;
	margin-bottom: 1.2rem;
	padding-top: 0rem;
	position: relative;
	color: #dad6cc;
	max-width: 600px;

}

/* CSS styles for kerning. See lettering.js website for details:
 * https://github.com/davatron5000/Lettering.js
 * if you dont want to apply kerning, just remove the "kern-this" class
 * on the h1 tag in the html file.
 */

.main-content .kern-this [class*="char"] {
	position: relative;
}
.main-content .char3 {
	left: -0.01em;    /* "4" */
}
.main-content .char7 {
	left: -0.013em; 	/* "R" */
}
.main-content .char8 {
	left: -0.04em;    /* "O" */
}
.main-content .char9 {
	left: -0.052em;   /* "R" */
}
.main-content .char10 {
	left: -0.038em;   /* "." */
}


.main-content p {
	color: #dad6cc;
	font-family: "roboto-light", sans-serif;
	font-size: 1.7rem;
	max-width: 600px;
	text-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
	text-transform: uppercase;
	letter-spacing: 0.1rem;


}

.main-content .apply{
	background: red;
	font-family: "roboto-black", sans-serif;
	width: 100%;
	max-width: 200px;
	padding:8px 5px;
	text-align: center;
	border: 1px solid red;
	border-radius: 0px;
	color: white;
}
#main-404-content footer {
	position: absolute;
	width: 100%;
	min-height: 12rem;
	bottom: 0;
	left: 0;
	z-index: 700;
}

#main-404-content h6 {
	font-family: "roboto-thin", sans-serif;
	color: #dad6cc;
	text-transform: initial;
	font-size: 1rem;
	max-width: 600px;


}


/**
 * responsive - main-404-content
 * ------------------------------------------------------------------- 
 */
 
@media only screen and (max-width:1024px) {
	.main-content h1 {
		font-size: 4rem;
	}
}
@media only screen and (max-width:768px) {
	.main-content h1 {
		font-size: 4rem;
	}
	#main-404-content .social-links {
		text-align: left;
	}
	#main-404-content .social-links ul {
		font-size: 2.8rem;
	}
	#main-404-content .social-links li:first-child {
		padding-left: 0;
	}
	#main-404-content .bottom-links .links {
		font-size: 1.6rem;
	}
}
@media only screen and (max-width:600px) {
	.main-content h1 {
		font-size: 3rem;
	}
}
@media only screen and (max-width:400px) {
	.main-content h1 {
		font-size: 5.5rem;
	}
	#main-404-content .social-links ul {
		font-size: 2.6rem;
	}
}
@media only screen and (max-width:380px) {
	.main-content h1 {
		font-size: 3rem;
	}
}



/**
 * hero
 * ------------------------------------------------------------------- 
 */

.mountain{
  height:180px;
  background:url(http://s.cdpn.io/21555/mountain_2.svg);
  background-repeat: repeat-x;  
  animation: slowLeft 200s; 
  animation-iteration-count: infinite;
  -webkit-animation: slowLeft 200s;
  -webkit-animation-iteration-count: infinite; 
  animation-timing-function:linear;
  -webkit-animation-timing-function:linear;
  
  -webkit-transform: translate3d(0,0,0);
	-webkit-backface-visibility: hidden;
}

@keyframes slowLeft { 
0%   { background-position:0px 0px ;} 
100% { background-position:1932px 0px ;} 
}
@-webkit-keyframes slowLeft { 
0%   { background-position:0px 0px ;} 
100% { background-position:1932px 0px ;} 
}

.hero{
	width: 100%;
	height: 60%;
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/28359/marvel.jpg);
}

.hero__content--media{

}

@media only screen and (max-width: 1024px){
	.hero{
		height: 33%;
	}
}

@media only screen and (max-width:768px){
	.hero{
		height: 33%;
	}
}

@media only screen and (max-width:600px){
	.hero{
		height: 33%;
	}
}

@media only screen and (max-width:400px){
	.hero{
		height: 33%;
	}
}

@media only screen and (max-width:380px) {
	.hero{
		height: 33%;
	}
 }


 /**
 * section
 * ------------------------------------------------------------------- 
 */
 
 .section .section__content .section__content--about{
 	margin: 100px 0;
 }

 .section .section__content .section__content--contact{
 	margin: 50px 0;
 }

.section .section--contact{
 	background-color: white;
 }

.section .section--contact p{
 	color: #041218;
}

@media only screen and (max-width:768px) {
	
	.section .section__content .section__content--about{
		margin: 50px 0;
	}

	.section .section__content .section__content--contact{
		margin: 25px 0;
	}

}


@media only screen and (max-width:380px) {
	
	.section .section__content .section__content--about{
		margin: 50px 0;
	}

	.section .section__content .section__content--contact{
		margin: 25px 0;
	}

}



/*.section__contact .section__contact--button{
	text-align: right;
}*/

.section .section--contact button{
	background-color: white;
	color: black;
	border: 3px black solid;
	border-radius: 10px;
	padding: 5px 20px;
}


/**
* footer
* -------------------------------------------------------------------
*/
footer .logo-grey {
	position: absolute;
	left: 26px;
	top: 0;
	margin-top: 40px;
}

footer .footer__content .logo-grey{
	left: 0;
	margin: 19px 0;
	position: relative;
}

footer .logo-grey a {
	display: block;
	margin: 0;
	padding: 0;
	outline: 0;
	border: none;
	width: 200px;
	height: 50px;
	background: url("../images/underpin-logo-grey.svg") no-repeat center;
	background-size: 200px 50px;

	font: 0/0 a;
	text-shadow: none;
	color: transparent;

	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

footer .footer__content address a{
	color: #95989A;
	display: block;
}

footer .footer__content div p{
	color: #95989A;
}

footer {
	background-color: #171D23;
}

footer .footer__content .footer__content--container{
 	margin: 100px 0;
}

@media only screen and (max-width:380px) {
	
	footer .footer__content .footer__content--container{
		margin: 50px 0;
	}

}

 /*# sourceMappingURL=main.css.map 